jarvis-core/src/main/resources/META-INF/jarvis.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.avengers.com/schema/jarvis"
            targetNamespace="http://www.avengers.com/schema/jarvis">

    <xsd:element name="annotation-config" type="monitorConfig">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ Monitor annotation config. ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="monitorConfig">
        <xsd:attribute name="id" type="xsd:ID" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The id of monitor bean. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="package-scan" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The package to scan. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

</xsd:schema>